.layout {
  min-height: 100vh;
}

.layout__main {
  margin-left: var(--sidebar-w);
  min-height: 100vh;
}

.layout__content {
  max-width: var(--maxw);
  margin: 0 auto;
  padding: 54px 48px 90px;
}

@media (max-width: 900px) {
  .layout__main {
    margin-left: 0;
    padding-top: 60px;
  }
  .layout__content {
    padding: 26px 18px 70px;
  }
}
